.container {
    background-color: gray;
    height: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#tablero {
    background-color: gray;
    height: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#player{
    background-color:darkgrey;
    height: 300px;
}

#playername{
    background-color:cadetblue;
    box-shadow: inset;
}

.carta {
    width: 100px;
}
 